/* common css */

body {
	margin: 0 auto;
	/* Typography */
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #666666;
}

.list-section,
.input-section,
.clear-section {
	width: 30em;
	margin: 0 auto; 
}

/* header css */

.banner-section {
	width: 100%;
	height: 13rem;
	margin: 0 auto;
	background-color: #1ceabc;
	text-align: center;
	padding: 2em 0.5em 1em 0.5em;
}

img {
	/* Designed by Freepik */
}

.title {
	margin-top: 0.5em;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	font-size: 2.5em;
	letter-spacing: 0.1em;
	
}

/* input css */


.input-section {
	text-align: center;
}

.instructions {
	padding-top: 1.5em;
	/* Typography */
	font-size: 0.9em;
	font-style: italic;
	line-height: 1.5em;

}


#listForm {
	/*border: 2px solid red;*/
	margin-top: 1.5em;
}

#newItem {
	width: 70%;
	height: 2.5em;
	/*border: 1px solid red;*/
	padding-left: 1em;
	/* Typography */
	font-size: 0.9em;
	font-style: italic;
}


#addItem {
	width: 2em;
	height: 2em;
	background-color: transparent;
	border-style: none;
	color: #666666;
	margin-left: 0.5em;

}

#newItem,
#addItem:focus,
.checkbox:focus,
.tick:focus,
.delete:focus {
	outline: none;
} 

hr {

	border-bottom: 0.5px solid #000;
	margin: 2em auto 0 auto;
	display: block;
	max-width: 30em;
}

/* list css */


.list-section {
	
	letter-spacing: 0.05em;
	text-transform: uppercase;
}


ul {
	list-style: none;
	

}

#itemList {
	padding: 0;
}


 
li,
.tick {
	height: 2em;
	display: block;
	padding-top: 0.5em;
	/*border: 1px solid red;*/
}

.tick {
	background-color: #1ceabc;
	/* Typography */
	color: white;
	font-weight: 300;
}


/* ticked box delete button */

.checkbox,
.delete {
	margin-left: 1.2em;
	margin-right: 1.2em;
	width: 28px;
	height: 28px;
	border-style: none;
	border-radius: 1.25rem;
	background-color: transparent;
	color: #666666;


}


.delete {
	float: right;

}


#addItem:hover,
.checkbox:hover {
	background-color: #1ceabc;
	color: white;
}

.delete:hover {
	background-color: #666666;
	color: white;
}

.tick .checkbox,
.tick .delete {
	color: white;
	/*background-color: #1ceabc;*/	
}

.tick .checkbox:hover,
.tick .delete:hover {
	color: #666666;
	background-color: #1ceabc;	
}


/* reset button css */

#reset-button {
	margin-top: 1em;
	background-color: #ff9933;
	border-style: none;
	padding: 0 auto;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	width: 100%;
	height: 2.5em;

	/* typography */
	color: white;
	text-transform: uppercase;

}


#reset-button:hover {
	background-color: #666666;
}

/*** Responsive Design ***/


@media (max-width: 640px) {
	
	.list-section,
	.clear-section {
		width: 100%;
	}

	.input-section {
		width: 94%;
	}

	#text-input {
		width: 65%;
}

	hr {
		margin: 2em auto 0 auto;
		max-width: 88%;
}

	

}

