/* common css */

body {
	margin: 0 auto;
	/* Typography */
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.list-section,
.input-section,
.clear-section {
	width: 50%;
	margin: 0 auto; 
}

/* header css */

.banner-section {
	width: 100%;
	margin: 0 auto;
	background-color: #1ceabc;
	text-align: center;
	padding: 1.5em 1em;
}

.title {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 2.5em;
	margin-top: 0.5em;

}

/* input css */


.input-section {
	text-align: center;
}

.instructions {
	padding-top: 1em;
	/* Typography */
	font-size: 0.85em;
	font-style: italic;

}

#addItems {
	margin-top: 1em;
}


hr {

	border-bottom: 0.5px solid #000;
	margin: 1.5em auto;
	display: block;
	max-width: 50%;
}

/* list css */


.list-section {

}


ul {
	list-style: none;
	

}

#itemList {
	padding: 1em;

}


.new-item,
.ticked-item {
	height: 3em;
	display: block;
}

 
.new-item {

}

.ticked-item {
	background-color: #1ceabc;
	/* Typography */
	color: white;
}

/* ticked box delete button */

.checkbox,
.delete {

}


.checkbox {

}

.delete {
	float: right;
}


/* reset button css */

button #clear-list {
	background-color: #333366;
	padding: 0 auto;
	cursor: pointer;
	/* typography */
	color: white;
}


